@font-face {
  font-family: Lato;
  src: url('fonts/Lato/Lato-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url('fonts/Lato/Lato-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  font:
  margin: 0;
}

/* Stylings for Nav Bar */
nav {
  max-width: 100%;
  height: 50px;
  /* Background color used to visualize layout. Remove when publishing */
  background-color: gray;
}

/* Stylings for Header */
header {
  max-width: 100%;
  height: 200px;
  /* Background color used to visualize layout. Remove when publishing */
  background-color: khaki;
}

/* Stylings for side bar on the left. */
aside {
  float: left;
  width: 25%;
  height: 100%;
  /* Background color used to visualize layout. Remove when publishing */
  background-color: tomato;
}

/* Stylings for content on the right */
section {
  float: right;
  width: 75%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
}

section h1,h2,h3 {
  font-weight: inherit;
  border-bottom: 1px solid #FFD07F;
  padding-bottom: 10px;
}

section h4,h5,h6 {
  font-weight: 400;
}

section h1 {
  font-size: 32px;
}

section a {
  color: #B86F4C;
}

div.section-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

div.section-container a {
  display: block;
  font-weight: 400;
  padding-bottom: 5px;
}

button.dropdown {
  background-color: #D7D0C4;
  color: black;
  padding: 16px;
  border: none;
  width: 90%;
  min-width: 160px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: left;
  line-height: 20px;
}

button.dropdown:hover, button.dropdown:active{
  background-color: #EF9E1D;
  border: none;
}

div.triangle-down {
  display: inline-block;
  float: right;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid white;
}

div.triangle-up {
  display: inline-block;
  float: right;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid white;
}

/* Stylings for dropdown menu */
div.dropdown-content {
  overflow-y: hidden;
  background-color: #F0F0ED;
  width: 90%;
  min-width: 160px;
  max-height: 1000px;
  position: relative;
  transition-property: max-height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  text-align: left;
}

div.dropdown-content-container {
  padding: 20px;
}

div.dropdown-content-left {
  float: left;
  width: 50%;
  max-height: 100%;
  padding-bottom: 20px;
}

div.dropdown-content-right {
  float: right;
  width: 50%;
  max-height: 100%;
  padding-bottom: 20px;
}

div.dropdown-content a:hover {
  background-color: #f1f1f1;
}

div.dropdown-hide {
  max-height: 0px;
  transition-property: max-height;
  transition-duration: 1.0s;
  transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

/* Stylings for footer */
footer {
  max-width: 100%;
  height: 200px;
  clear: both;
  /* Borders used to visualize layout. Remove when publishing */
  /* Background color used to visualize layout. Remove when publishing */
  background-color: palevioletred;
}
