body {
  margin: 0;
}

/* Stylings for Nav Bar */
nav {
  max-width: 100%;
  height: 50px;
  /* Background color used to visualize layout. Remove when publishing */
  background-color: gray;
}

/* Stylings for Header */
header {
  max-width: 100%;
  height: 200px;
  /* Background color used to visualize layout. Remove when publishing */
  background-color: khaki;
}

/* Stylings for side bar on the left. */
aside {
  float: left;
  width: 25%;
  height: 600px;
  /* Background color used to visualize layout. Remove when publishing */
  background-color: tomato;
}

/* Stylings for content on the right */
section {
  float: right;
  width: 75%;
  height: 600px;
}

div.section-container {
  padding: 20px;
}

button.dropdown {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 80%;
  min-width: 160px;
}

button.dropdown:hover, button.dropdown:focus {
  background-color: #3E8E41;
}

/* Stylings for dropdown menu */
div.dropdown-content {
  display: none;
  background-color: yellow;
  width: 80%;
  min-width: 160px;
}

div.dropdown-content-container {
  padding: 10px;
  overflow: hidden;
}

div.dropdown-content-top {
  background-color: blue;
}

div.dropdown-content-left {
  float: left;
  width: 50%;
  max-height: 100%;
  background-color: red;
}

div.dropdown-content-right {
  float: right;
  width: 50%;
  max-height: 100%;
  background-color: green;
}

div.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

div.dropdown-content a:hover {
  background-color: #f1f1f1;
}

div.dropdown-show {
  position: relative;
  display: block;
}

/* Stylings for footer */
footer {
  max-width: 100%;
  height: 200px;
  clear: both;
  /* Borders used to visualize layout. Remove when publishing */
  /* Background color used to visualize layout. Remove when publishing */
  background-color: palevioletred;
}
